asn1crypto==0.24.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
branca==0.3.1
cachetools==3.1.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
click==6.7
cryptography==2.6.1
cycler==0.10.0
defusedxml==0.4.1
enum34==1.1.6
folium==0.8.3
futures==3.2.0
google-assistant-grpc==0.2.1
google-assistant-sdk==0.5.1
google-auth==1.6.3
google-auth-oauthlib==0.3.0
googleapis-common-protos==1.5.9
grpcio==1.20.0
gyp==0.1
idna==2.8
imgkit==1.0.2
ipaddress==1.0.22
Jinja2==2.10.1
kiwisolver==1.1.0
Magic-file-extensions==0.2
MarkupSafe==1.1.1
matplotlib==2.2.4
monotonic==1.5
numpy==1.16.3
oauthlib==3.0.1
pandas==0.24.2
pathlib2==2.3.3
protobuf==3.7.1
psutil==3.4.2
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
pyliblzma==0.5.3
pymongo==3.7.2
pyOpenSSL==19.0.0
pyparsing==2.4.0
PySocks==1.6.8
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
scandir==1.10.0
scipy==1.2.2
seaborn==0.9.0
selenium==3.141.0
six==1.12.0
SOAPpy==0.12.22
sounddevice==0.3.13
soupsieve==1.9
subprocess32==3.5.4
tenacity==4.12.0
tweepy==3.7.0
urllib3==1.24.1
webkit2png==0.8.2
wstools==0.4.3
Flask==0.11.1
passlib==1.7.0
SQLAlchemy==1.1.5
Werkzeug==0.11.15
gunicorn==19.0.0
gevent==1.2.1